:root {
    --colour-dark-blue: #495464;
    --colour-grey-blue: #bbbfca;
    --color-white: #fff;
    --colour-light-grey: #e8e8e8;
    --colour-grey: #bbbbbe;
    --color-black: #000;
    --heading-weight: 700;
  }

* {
    margin: 5px;
    padding: 5px;
}

body {
    background-color: var(--color-white);
    color: var(--colour-black);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
}

.heading {
    display: flex;
    justify-content: center;
}

.pokemon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pokemon-list__item {
    color: var(--colour-dark-blue);
}

.pokemon-button {
    background-color: var(--colour-dark-blue);
    color: var(--color-white);
    border-radius: 12px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.pokemon-button:hover {
    background-color: var(--colour-white);
    color: var(--colour-dark-blue);
    border: 2px solid var(--colour-dark-blue);
}

.loading-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}
