:root {
    --colour-dark-blue: #495464;
    --colour-grey-blue: #bbbfca;
    --color-white: #fff;
    --colour-light-grey: #e8e8e8;
    --colour-grey: #bbbbbe;
    --color-black: #000;
    --heading-weight: 700;
  }

* {
    margin: 5px;
    padding: 5px;
}

body {
    background-color: var(--color-white);
    color: var(--colour-black);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
}

.heading {
    display: flex;
    justify-content: center;
}

.heading h1{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 90px;
}

.navbar{
    height: 100px;
    background-color: #000;
}

#navbarNav{
    background-color: #000;
}

#listPara{
    margin-top: 75px;
}

.page-container {
    margin-top: 100px;
}


.pokemon-button:hover {
    background-color: var(--colour-white);
    color: var(--colour-dark-blue);
    border: 2px solid var(--colour-dark-blue);
}

.loading-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}

.list-group {
    border-radius: 0;
  }

#pokemon-img {
    height: 150px;
    width: 100% \9;
}
